<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.php.core.phpSourceElementRequestors">
        <requestor
          class="com.github.iljas85.CakePHP2EclipsePlugin.SourceElementRequestor">
        </requestor>
    </extension>
    <extension
          point="org.eclipse.php.core.completionContextResolvers">
        <resolver class="com.github.iljas85.CakePHP2EclipsePlugin.ControllerField.ContextResolver"/>
    </extension>
    <extension
          point="org.eclipse.php.core.completionStrategyFactories">
        <factory class="com.github.iljas85.CakePHP2EclipsePlugin.ControllerField.CompletionStrategyFactory"/>
    </extension>
    <extension point="org.eclipse.php.core.goalEvaluatorFactories">
        <factory
          class="com.github.iljas85.CakePHP2EclipsePlugin.ControllerField.GoalEvaluatorFactory"
          priority="100"/>
    </extension>
</plugin>
